.posts-container {
  width: auto;
  
  .posts {
    display: flex;
    justify-content: space-between;
    margin: 0.4em 0;
    background: white;
  }
}

@media only screen and (min-width: 540px) {
  .posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .posts {
      display: unset;
      margin-right: 1em;
    }
  }
}