.search {
  text-align: center;
  margin-bottom: 1em;

  .search-field {
    width: 20em;
    padding: 0.4em 0.7em;
    border: none;
    border-bottom: 1px solid purple;
    background: rgb(230, 228, 228);
  }

  .search-btn {
    margin-left: 0.6em;
    padding: 0.4em 0.7em;
    border: 1px solid white;
    border-radius: 0.4em;
    background: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    
    &:hover {
      cursor: pointer;
      background: white;
      color: black;
    }
    
    &:active {
      background: black;
      color: white;
    }
  }
}

