.header {
  border-bottom: 0.1em solid;
  margin-bottom: 0.7em;
}

@media only screen and (min-width: 680px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}


/* @media only screen and (min-width: 1200px) {
  .header {
    margin-left: 12em;
  }
} */